{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
    figure {
        padding: 4px;
        margin: auto;
    }
    #subnav {
        text-align: center;
        background:#FFB7C5;
        padding: 25px;
    }
    #subnav a span{
        font-size: 1rem;
    }
    #subnav label{
        color:#fff;
    }
    #subnav a:hover{
        background-color: #fff;
        color: #FFB7C5;
    }
    #subnav a ,.subnav{
        background-color: #FFB7C5;
        color: #fff;
    }
    #company h3,#company p{
        width: 170px;
        border-right: #4B8CC5 3px solid;border-left:#4B8CC5 3px solid;
        text-align: center;
    }
    #company p{
        font-size:12px;
        font-weight:300;
    }
    #service h3,#service p{
        width: 170px;
        border-right: #4B8CC5 3px solid;border-left:#4B8CC5 3px solid;
        text-align: center;
    }
    #service p{
        font-size:12px;
        font-weight:300;
    }
    #serviceInfo {
        background: #F8E8E6;
    }
    .ser1{
        background: #F8E8E6;
    }
    #brand h3,#brand p{
        width: 170px;
        border-right: #4B8CC5 3px solid;border-left:#4B8CC5 3px solid;
        text-align: center;
    }
    #brand p{
        font-size:12px;
        font-weight:300;
    }
    #i4 .setImg {
		width: 100%;
	}
	
	#i4.mm33 .setImg {
		width: 100%;
	}

	#i4.mm50 .setImg {
		width: 100%;
	}
    #timeline h3,#timeline p{
        width: 170px;
        border-right: #4B8CC5 3px solid;border-left:#4B8CC5 3px solid;
        text-align: center;
    }
    #timeline p{
        font-size:12px;
        font-weight:300;
    }
    </style>
<div class="container text-center">
    <figure>
        <img class="rounded" src="https://www.thn-buurtzorg.com/admin//archive//Content/cover/186.jpg?v=1660201875" alt="abotus 大圖" style="width:100%">
    </figure>
</div>
<div id="subnav" class="clearfix center nav">
    <div class="container" class="button m-0">
        <a href="#company">
            <span>公司理念</span>
        </a>
        <label class>|</label>
        <a href="#service">
            <span>服務內容</span>
        </a>
        <label class>|</label>
        <a href="#brand">
            <span>商標故事</span>
        </a>
        <label class>|</label>
        <a href="#timeline">
            <span>重大里程</span>
        </a>
        <label class>|</label>
    </div>
</div>
<div id="company" class="clearfix center ">
    <div class="container ">
        <div id="companyInfo" class="pt-5">
            <h3 class="m-auto">公司理念</h3>
            <p class="m-auto">Business Concept</p>
    </div>				
</div>
</div>
<div id="companyConcept" class="clearfix">
    <section id="content">
        <div class="content-wrap d-flex align-items-center"></div>
            <div class="container clearfix">
                <div class="row mb-50 justify-content-center"></div>
                <div class="col-12 text-center">
                    <div class="card-text ">
                        <div class="card-text cont">
                            <p style="text-align:center">「亮詮基金會」於2007年成立「公共利益老人關懷協進會」位於中壢區福州路139號，致力於老人公益活動為核心精神，並於2017年成立亮詮基金會，提供「自立照顧、延緩失能」的整合性居家照顧服務。</p>
                        </div>
                    </div>
                </div>
            </div>
        <div class="clear"></div>
            <div class="col-12 text-center">
                <figure>
                    <img class="rounded" src="https://www.thn-buurtzorg.com/admin//archive//Content/cover/84.jpg?v=1660201875" alt="abotus content圖" style="width:50%">
                </figure>
            </div>
    </section>
</div>
<div id="service" class="clearfix center ser1">
    <div class="container ">
        <div id="serviceContent" class="pt-5">
            <h3 class="m-auto">服務內容</h3>
            <p class="m-auto">Service</p>
        </div>				
    </div>
</div>
<div id="serviceInfo" class="clearfix">
    <div class=" container pb-5">
        <div class=" row ">
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/external-wanicon-two-tone-wanicon/2x/external-care-world-humanitarian-day-wanicon-two-tone-wanicon.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">長照諮詢服務</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>基本生活照顧、陪同外出、陪同就醫、餐食照顧、協助管灌餵食。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/ios/344/health-graph.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">生活照顧</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>傷口照護衛教、全身清潔指導、指導照顧者抽痰技巧，其他相關護理衛教。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/344/external-life-activism-flaticons-lineal-color-flat-icons.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">生活自立支援</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>被動關節運動指導、上下肢肌耐力訓練、平衡訓練、行走訓練、心肺功能訓練、輔具使用指導。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/dusk/344/old-woman-skin-type-6.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">預防延緩失能</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>手功能訓練、認知知覺訓練、日常生活功能訓練、輔具諮詢、輔具製作及訓練。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/ios/2x/hospital-3.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">陪同就醫</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>語言訓練、吞嚥障礙之評估與訓練、由口進食移除鼻胃管訓練、改善吞嚥嗆咳情況。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/ios/344/carpet-man.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">家務協助</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>評估營養狀態與飲食內容、指導製備各式疾病飲食及管灌飲食、營養補充品指導與衛教。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/ios/344/waiter.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">備餐服務</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>個案身心與情緒壓力調適、睡眠衛教與行為訓練、社交參與、降低照顧者的心理壓力與身體負荷。</div>
    <p></p>
                    </div>
                </div>
        </div>
                            
        <div class="col-lg-4 col-sm-6 mt-5">
                <div class="d-flex align-items-center">
                    <img src="https://img.icons8.com/sf-regular/344/cottage.png" alt="icon" width="30" class="rounded-circle">
                    
                    <div class="ms-3">
                        <h3 class="fw-medium mb-0">居家安寧</h3>
                    </div>
                
                </div>
                <div class="feature-box fbox-effect flex-column">
                    <div class="fbox-content">
                        <!-- <h3>Responsive Layout</h3> -->
                        <p></p><div>由安寧團隊專業人員，依個案需求提供居家訪視，協助個案各種不適症狀緩解及家屬照護技巧指導。</div>
    <p></p>
                    </div>
                </div>
        </div>
        </div>
        </div>
</div>
<div id="brand" class="clearfix center ">
    <div class="container ">
        <div id="brandStory" class="pt-5">
            <h3 class="m-auto">商標故事</h3>
            <p class="m-auto">Brand Story</p>
    </div>				
</div>
</div>
<div id="brandIcon" class="clearfix mm33">
    <section id="content">
        <div class="content-wrap d-flex align-items-center">
            <div class="container clearfix">
                <div class="row mb-50 justify-content-center">

                    <!-- <div class="col-xl-6 col-lg-8 text-center">
                        <h3 class="h1 fw-bold mb-3">Title Info</h3>
                    </div> -->
                                            <div class="col-12 text-center">							
                        <div class="card-text "><div class="card-text cont">
<p style="text-align:center">依據雁行理論，繪製出展翅、努力飛行的樣貌，並且昂著頭，不斷向前、互相鼓勵。</p>
</div>
</div>						
                    </div>
                                            <div class="clear"></div>
                    <div class="col-12 text-center">
                        <figure>
                            <img class="rounded" src="https://static.wixstatic.com/media/637a0e_03aac367423d467685bcfb0845176cca~mv2.jpg/v1/fill/w_1470,h_719,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/637a0e_03aac367423d467685bcfb0845176cca~mv2.jpg" alt="abotus 大圖" style="width:50%">
                        </figure>							
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="timeline" class="clearfix center timeline">
    <div class="container ">
        <div id="timelineContent" class="pt-5">
            <h3 class="m-auto">重大里程</h3>
            <p class="m-auto">Timeline Content</p>
        </div>				
    </div>
</div>
<div id="i34" class="clearfix mm32">
    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap d-flex align-items-center">
            <div class="container clearfix">
                <div class="row mb-50 justify-content-center">	
                    <div class="clear"></div>
                        <div class="col-12 text-center">
                            <figure>
                                <img class="rounded" src="https://www.thn-buurtzorg.com/admin//archive//Content/cover/90.jpg?v=1660201875" alt="abotus 大圖" style="width:100%">
                            </figure>								
                        </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
</div>
{% endblock content %}