{% load static %}
<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5">

  <footer class="bg-primary text-center text-lg-start text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

          <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <img src="{% static 'web/logo.jpg' %}" height="70" alt="logo"
                 loading="lazy" />
          </div>

          <p class="text-center">#終身學習#社會公益#造福人群</p>

          <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
              </a>
            </li>
            <li>
              <a class="text-white px-2" href="#!">
                <i class="fab fa-instagram"></i>
              </a>
            </li>
            <li>
              <a class="text-white ps-2" href="#!">
                <i class="fab fa-youtube"></i>
              </a>
            </li>
          </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">桃園據點</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <p class="text-white"><i class="fas fa-paw pe-3"></i>地址:桃園市中壢區福州路139號</p>
            </li>
            <li class="mb-2">
              <p  class="text-white"><i class="fas fa-paw pe-3"></i>聯絡電話:03-4688-379</p>
            </li>
            <li class="mb-2">
              <p class="text-white"><i class="fas fa-paw pe-3"></i>傳真:03-4688-389</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">台中據點</h5>

          <ul class="list-unstyled">
            <li class="mb-2">
              <p class="text-white"><i class="fas fa-paw pe-3"></i>地址:台中市太平區環太東路229號</p>
            </li>
            <li class="mb-2">
              <p class="text-white"><i class="fas fa-paw pe-3"></i>聯絡電話:04-2393-9375</p>
            </li>
            <li class="mb-2">
              <p class="text-white"><i class="fas fa-paw pe-3"></i>傳真:04-2393-9075</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">屏東服務處</h5>

          <ul class="list-unstyled">
            <li>
              <p><i class="fas fa-map-marker-alt pe-2"></i>屏東市建華三街50號</p>
            </li>
            <li>
              <p><i class="fas fa-phone pe-2"></i>聯絡電話:08-7519-298</p>
            </li>
            <li>
              <p><i class="fas fa-envelope pe-2 mb-0"></i>傳真:08-7518-598</p>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2022 財團法人桃園市亮銓公益慈善基金會:
      <br>
      <a class="text-white" >府社團字第1060261327號   統編：72802612   法人登記證書：桃園地院106證財字第13號</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
<!-- End of .container -->