{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container text-center">
    <figure>
        <img class="rounded" src="https://www.thn-buurtzorg.com/admin//archive//Content/cover/261.jpg?v=1660200031" alt="abotus 大圖" style="width:100%">
    </figure>
</div>
<div class="container">
<div class="row justify-content-center">
    <div class="col">
        <p><u>May</u></p>
        <h3>五月</h3>
    </div>
    <div class="col">
        <figure>
            <img class="rounded" src="https://www.thn-buurtzorg.com/admin//archive//Content/cover/215.png?v=1660200031" alt="abotus 大圖" style="width:50%">
            </figure>
    </div>
    <div class="col">
        <h4><a href="https://www.thn-buurtzorg.com/?mode=course&amp;pid=215" title="111年度新北市 照顧服務員訓練班">111年度新北市 照顧服務員訓練班</a></h4>
        <p class="mb-3">111年新北市政府照顧服務員訓練自辦計畫
            一、目的：
            因應本市長期照顧人力需求，提升照顧服務品質，促進照顧服務員就業市場相互流通，增加就業機會，特訂</p>
    </div>
</div>
</div>
{% endblock content %}